<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在庫管理システム</title>
</head>

<body>
    <div h1>在庫管理システム</div>
    <table>
        <tr>
            <th>商品名</th>
            <th>金額</th>
            <th>在庫数</th>
        </tr>
        <tr th:each="stock : ${productInventory}">
            <td th:text="${stock.product.name}"></td>
            <td th:text="${stock.product.price}"></td>
            <td th:text="${stock.inventory.quantity}"></td>
        </tr>
    </table>
<form action="//" th:action="@{/add}">
    <div>
        <button>在庫追加</button>
    </div>
</form>
<form action="//" th:action="@{/remove}">
    <div>
        <button>在庫削除</button>
    </div>
</form>
</body>

</html>