<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在庫管理システム</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet" />
</head>

<body>
    <div>
        <div>
            <h1>在庫管理システム</h1>
            <!-- <h2 th:if="${username != null}">ようこそ、<span th:text="${username}"></span>さん</h2> -->
        </div>

        <!-- 商品検索フォームの追加 -->
        <div>
            <form th:action="@{/search}" method="get">
                <input type="text" name="name" placeholder="商品名で検索">
                <button type="submit">検索</button>
            </form>
            <form th:action="@{/main}" method="post">
                <button type="submit">検索結果リセット</button>
            </form>
            <form th:action="@{/download}" method="get">
                <button type="submit">CSVダウンロード</button>
            </form>
        </div>

        <h2>
        <div class="back-link">
            <a href="/users/log">ユーザー登録</a>
        </div>
        </h2>
    </div>

    <h2>
    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>
    </h2>
    <h2>商品一覧</h2>
    <p>列ヘッダーをクリックすると、その列を基準に昇順・降順で並び替えできます。</p> 

    <table id="productTable">
        <thead>
            <tr>
                <th class="sortable" onclick="sortTable(0)">商品名</th>
                <th class="sortable" onclick="sortTable(1, true)">金額</th>
                <th class="sortable" onclick="sortTable(2, true)">在庫数</th>
                <th>削除</th>
                <th>編集</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="stock : ${Inventory}">
                <td th:text="${stock.name}"></td>
                <td th:text="${stock.price}"></td>
                <td th:text="${stock.quantity}"></td>
                <td>
                    <form th:attr="action=@{/deleteInventory/} + ${stock.id}" method="post">
                        <input type="hidden" name="id" th:value="${stock.id}">
                        <button>削除</button>
                    </form>
                </td>
                <td>
                    <form th:attr="action=@{/editInventory/} + ${stock.id}" method="post">
                        <input type="hidden" name="id" th:value="${stock.id}">
                        <button>編集</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    

    <form action="//" th:action="@{/add}">
        <div>
            <button>在庫追加</button>
        </div>
    </form>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script th:src="@{/JS/main.js}"></script>

</html>
